@import url('https://fonts.googleapis.com/css?family=Poppins')

html, *
  font-family: 'Poppins', sans-serif

.bold
  font-weight: bold !important

.vertical-middle
  vertical-align: middle !important

#app::-webkit-scrollbar
  width: 0 !important
  display: none !important
